<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
    <div class="footer-top">
        <!-- left-side -->
        <div class="footer-left">
            <img src="../img/footer_logo.png" alt="한동대학교 로고" class="footer-logo" />

            <p>
                37554 경북 포항시 북구 흥해읍 한동로 558<br>
                한동대학교 뉴턴홀 218호 소프트웨어중심대학사업단
            </p>
        </div>

        <!-- right-side -->
        <div class="footer-right">
            <div class="contact">
                <h4>Contact Us</h4>

                <p>
                    <span class="label">Phone</span>
                    <span class="bar">|</span>
                    <span class="value">054-260-1478</span>
                </p>

                <p>
                    <span class="label">Fax</span>
                    <span class="bar">|</span>
                    <span class="value">054-260-1976</span>
                </p>

                <p>
                    <span class="label">Email</span>
                    <span class="bar">|</span>
                    <span class="value">csee@handong.edu</span>
                </p>
            </div>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="footer-icons">
                    <a href="#"><img src="../img/facebook_icon.png" alt="facebook"></a>
                    <a href="#"><img src="../img/youtube_icon.png" alt="youtube"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- copyright -->
    <div class="footer-bottom">
        Copyright © Handong Global University. All rights reserved.
    </div>
</footer>