<link rel="stylesheet" href="../css/header.css">

<!-- 얼마든지 수정하셔도 됩니다! -->
<!-- 개선할점 : 위 메뉴와 드롭다운 x축 안맞음 (해결) -->
<!-- 로고, 메뉴가 너무 파란색 topbar와 붙어있음 (해결) -->
<!-- 다른 페이지에서 헤더파일(예. 사업단 소개)를 누를 시 에러 뜸 (해결)-->
<header class="header">

    <!-- topbar -->
    <div class="topbar">
        <div class="topbar__inner">
            <nav class="topbar__nav">
                <a href="/pages/home.html">HOME</a>
                <span class="divider">|</span>
                <a href="https://handong.edu/">한동대학교</a>
            </nav>
        </div>
    </div>

    <!-- header 본문 -->
    <div class="header__inner">
        <div class="header__left">
            <a href="/pages/home.html" class="header__logo-link">
            <img src="../img/logo.svg" alt="한동대 로고" class="header__logo">
            <span class="header__title">한동대학교 SW중심대학사업단</span>
            </a>
        </div>

        <nav class="header__nav">
            <ul class="main-menu">
                <li>
                    <a href="/pages/mission.html" class="main-link">사업단 소개</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="/pages/mission.html">사업단 목표</a>
                            <a href="/pages/organization.html">조직도</a>
                            <a href="/pages/business_support.html">기업 지원 센터</a>
                            <a href="/pages/location.html">오시는길</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/pages/support_project.html" class="main-link">SW가치확산</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="/pages/support_project.html">지원 프로젝트</a>
                            <a href="/pages/operation_status.html">운영 현황</a>
                            <a href="/pages/sw_education.html">SW교육</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/pages/notice.html" class="main-link">알림/소식</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="/pages/notice.html">공지사항</a>
                            <a href="/pages/news_letter.html">뉴스레터</a>
                            <a href="/pages/extracurricular_activities.html">대외활동</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/pages/general_board.html" class="main-link">게시판</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="/pages/general_board.html">일반 게시판</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

    </div>

</header>