<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="/frontswcenter/css/aside.css">
<body>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <th:block th:replace="~{includes/user/aside}" />
    <script> listener_aside_nav_active("news", 3); </script>

    <main class="content-area">
        <h1 class="page-title">대외활동</h1>

        <div class="content-box">
            여기에 "대외활동" 본문 내용을 넣으면 됩니다!
            <br><br>
            이미지나 표 영역이 들어가요.
        </div>

    </main>
</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

</body>
</html>
