<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="/frontswcenter/css/aside.css">
<body>

<script id="list_info_board" type="text/x-handlebars-template">
    {{#resultData_board}}
    <tr class="gradeA">
        <td><font class="font_board_order"></font></td>
        <td class="cursor_pointer" onclick="location.href='/board/detail/{{id}}';">{{title}}</td>
        <td>{{createdAt}}
            <input type="hidden" class="input_cursor_board_id" value="{{id}}"/>
        </td>
    </tr>
    {{/resultData_board}}
</script>
<script type="text/javascript">
    var list_info_board = $("#list_info_board").html();
    var list_info_board_template = Handlebars.compile(list_info_board);
</script>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <th:block th:replace="~{includes/user/aside}" />
    <script> listener_aside_nav_active("board", 1); </script>


    <main class="content-area">
        <h1 class="page-title">일반게시판</h1>

        <div class="content-box">
            <table class="table table-bordered bg-white" id="dataTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>입력일시</th>
                </tr>
                </thead>
                <tbody id="tbody_board_list">
                </tbody>
            </table>
        </div>

    </main>

</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

<script>
    $(function(){
        console.log( "ready!" );
        search_board();
    });
    function listener_board_keyword_changed(){
        $("#input_board_keyword_changed").val("1");
        $("#tbody_board_list").html("");
        search_board();
    }
    function search_board() {
        let _data = new Map();
        _data.url = "/api/board/scrollList";
        _data.type = "GET";
        _data.param = {
            perpage: 10
            , orderby: "id"
            , orderway: "DESC"
            , cursor: listenerGetCursor("board")
            , deleted: false
        };
        _data.success = function (obj_data, obj_status, obj_xhr) {
            /*let input_board_keyword_changed = $("#input_board_keyword_changed").val();
            if(input_board_keyword_changed === "1"){
                $("#input_board_keyword_changed").val("");
            }*/
            let tempList = obj_data;
            for (let each of tempList) {
                let tList = [];
                tList.push(each);
                $("#tbody_board_list").append(list_info_board_template({"resultData_board": tList}));
            }
            listenerAfterScrollList("board");
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>
</body>

</html>
