<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="/frontswcenter/css/aside.css">
<body>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <th:block th:replace="~{includes/user/aside}" />
    <script> listener_aside_nav_active("news", 1); </script>

    <main class="content-area">
        <h1 class="page-title">공지사항</h1>

        <div class="content-box">
            <div class="font_notice_title">-</div>
            <div class="font_notice_createdAt">-</div>
            <div class="font_notice_content">-</div>
        </div>

    </main>

</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

<script>
    $(function(){
        console.log( "ready!" );
        detail_notice();
    });
    function detail_notice() {
        let noticeId = getIdFromUrl(null);
        let _data = new Map();
        _data.url = "/api/notice";
        _data.type = "GET";
        _data.param = {'id': noticeId};
        _data.success = function (obj_data, obj_status, obj_xhr) {
            listenerAfterDetail(obj_data, "notice");
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>
</body>

</html>
