<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{includes/admin/head}" />

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:replace="~{includes/admin/sidebar}" />
    <script>
        $(".nav_permission_a").removeClass("collapsed");
        $(".nav_permission_div").addClass("show");
    </script>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <th:block th:replace="~{includes/admin/topbar}" />

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">사용자 : <span class="font_user_username">-</span> </h1>
                <p class="mb-4">사용자 상세 입니다.</p>

                <div class="mb-4">
                    <div class="form-group row">
                        <input type="hidden" id="detail_user_id" />

                        <label class="col-sm-2 col-form-label">*삭제여부</label>
                        <div class="col-sm-4">
                            <select class="input_param input_required form-control mb-2" id="detail_user_deleted" name="deleted" onchange="update_user(this)">
                                <option value="" selected="selected">전체</option>
                                <option value="false">일반</option>
                                <option value="true">삭제</option>
                            </select>
                        </div>
                        <label class="col-sm-6"></label>

                        <label class="col-sm-2 col-form-label">*아이디</label>
                        <div class="col-sm-4">
                            <input type="text" class="input_param input_required form-control mb-2" id="detail_user_username" name="username" placeholder="내용을 입력해주세요!" readonly/>
                        </div>
                        <label class="col-sm-2 col-form-label">*비밀번호</label>
                        <div class="col-sm-4">
                            <input type="password" class="input_param input_required form-control mb-2" id="detail_user_password" name="password" placeholder="내용을 입력해주세요!" onchange="update_user(this)" />
                        </div>
                        <label class="col-sm-2 col-form-label">*이름</label>
                        <div class="col-sm-4">
                            <input type="text" class="input_param input_required form-control mb-2" id="detail_user_name" name="name" placeholder="내용을 입력해주세요!" onchange="update_user(this)" />
                        </div>
                        <label class="col-sm-2 col-form-label">*닉네임</label>
                        <div class="col-sm-4">
                            <input type="text" class="input_param input_required form-control mb-2" id="detail_user_nick" name="nick" placeholder="내용을 입력해주세요!" onchange="update_user(this)" />
                        </div>
                        <label class="col-sm-2 col-form-label">*전화번호</label>
                        <div class="col-sm-4">
                            <input type="text" class="input_param input_required form-control mb-2" id="detail_user_phone" name="phone" placeholder="내용을 입력해주세요!" onchange="update_user(this)" />
                        </div>

                        <label class="col-sm-6"></label>

                        <!--<label class="col-sm-2 col-form-label">내용</label>
                        <div class="col-sm-10">
                            <textarea class="input_param form-control mb-2" id="detail_user_content" name="content" placeholder="내용을 입력해주세요!" onchange="update_user(this)" ></textarea>
                        </div>-->
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:replace="~{includes/admin/footer}" />

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<th:block th:replace="~{includes/admin/bottom}" />

<script>
    $(document).ready(function () {
        console.log("ready!");
        detail_user();
    });

    function update_user(obj_this){
        let _param = {
            id : getIdFromUrl(null)
        };
        _param[$(obj_this).attr("name")] = $(obj_this).val();
        let _data = {};
        _data.url = "/api/user";
        _data.type = "PUT";
        _data.param = _param;
        _data.success = function(obj_data, obj_status, obj_xhr){
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
    function detail_user() {
        let userId = getIdFromUrl(null);
        let _data = new Map();
        _data.url = "/api/user";
        _data.type = "GET";
        _data.param = {'id': userId};
        _data.success = function (obj_data, obj_status, obj_xhr) {
            //alert(JSON.stringify(obj_data));
            listenerAfterDetail(obj_data, "user");
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>


</body>

</html>