<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<style>
    .claria-logo {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .font-logo {
        font-size: 28px;
        font-weight: 900;
    }
    .btn_login {
        background-color: #2D35F8;
    }
    .btn_login:disabled {
        background-color: #9ca3af; /* 회색 */
        cursor: not-allowed;       /* 금지 커서 */
        color: white;              /* 글자색 */
    }
    .btn_login:hover {
        opacity : 0.75;
    }
</style>
<body class="flex items-center min-h-screen">
<div class="shadow-2xl items-center w-full max-w-md min-h-screen mx-auto">
    <!-- Logo Section -->
    <div class="text-center" style="padding-top: calc(50vh - 284px);">
        <div class="claria-logo">
            <img src="https://staticfile-three.vercel.app/frontrewardquiz/img/logo.png"/>
        </div>
        <div class="font-logo text-gray-900 tracking-wide">CLARIA</div>
    </div>

    <!-- Bottom Navigation -->
    <div class="max-w-md mx-auto absolute bottom-0 left-0 right-0 px-4 pb-8">
        <button
                style="display: none;"
                class="w-full py-4 text-white btn_login font-semibold rounded-lg mt-4
        disabled:cursor-not-allowed
        hover:bg-blue-700 transition-all duration-300" id="btn_login">
            깃허브 로그인
        </button>
        <button class="w-full py-4 text-white bg-gray-500 font-semibold rounded-lg mt-4
        disabled:cursor-not-allowed
        hover:bg-gray-700 transition-all duration-300" id="btn_cancel" onclick="location.replace('/user/ghlogin')">
            취소
        </button>
    </div>
</div>
<th:block th:replace="~{includes/user/bottom}" />
<script>
    document.getElementById("btn_login").onclick = () => {
        let clientId = "Ov23liroPQt6fuPruGmb";
        let redirectUri = location.origin + "/user/ghlogin";
        let state = crypto.randomUUID();
        localStorage.setItem("gh_oauth_state", state);
        let url = new URL("https://github.com/login/oauth/authorize");
        url.searchParams.set("client_id", clientId);
        url.searchParams.set("redirect_uri", redirectUri);

        url.searchParams.set("scope", "repo read:user user:email");
        url.searchParams.set("state", state);
        location.href = url.toString();
    };

    let params = new URLSearchParams(location.search);
    let code  = params.get("code");
    let state = params.get("state");
    if (!code || state !== localStorage.getItem("gh_oauth_state")) {
        $("#btn_login").css("display", "block");
        $("#btn_cancel").css("display", "none");
    } else {
        $("#btn_login").css("display", "none");
        getGithubAccessToken(code);
    }

    function getGithubAccessToken(code){
        let _data = {};
        _data["code"] = code;
        $.ajax({
            url: "/api/user/githubToken",
            method: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(_data),
            success: (data, status, xhr)=>{
                //alert("1 : " + JSON.stringify(data));
                localStorage.setItem("ghAccessToken", data);
                flutter_setLocalStorage("ghAccessToken", data);
                getGithubUserInfo(data);
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
    function getGithubUserInfo(code){
        let _data = {};
        _data["code"] = code;
        $.ajax({
            url: "/api/user/ghlogin",
            method: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(_data),
            success: (data, status, xhr)=>{
                //alert("2 : " + JSON.stringify(data));
                let refreshToken = xhr.getResponseHeader("RefreshToken");
                if(refreshToken.length < 20){
                    refreshToken = null;
                }
                if(refreshToken === null || refreshToken === "" || Number(refreshToken) <= 0){
                    alert("로그인 실패");
                } else {
                    localStorage.setItem("refreshToken", refreshToken);
                    flutter_setLocalStorage("refreshToken", refreshToken);
                    getAccessToken();
                }
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
    function getAccessToken(){
        $.ajax({
            url: "/api/auth",
            method: "POST",
            beforeSend : function(xhr){
                let refreshToken = localStorage.getItem("refreshToken");
                xhr.setRequestHeader("RefreshToken", refreshToken);
            },
            contentType : 'application/json; charset=utf-8',
            success: (data, status, xhr)=>{
                let accessToken = xhr.getResponseHeader("Authorization");
                localStorage.setItem("accessToken", accessToken);
                alert("로그인 성공");
                location.replace('/home');
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>

</body>
</html>