<script>
    function toggleMenu() {
        const nav = document.querySelector('.header__nav');
        nav.classList.toggle('active');
    }

    function logout_user() {
        localStorage.removeItem("refreshToken");
        localStorage.removeItem("accessToken");
        location.href = "/index";
    }

    $(function(){
        if (listener_is_login()) {
            $("#topbar_login_link").hide();
            $("#topbar_logout_link").show();
        } else {
            $("#topbar_login_link").show();
            $("#topbar_logout_link").hide();
        }
    });
</script>

<!-- CUSTOM JS!!! -->
<script src="https://staticfile-three.vercel.app/common/js/default.js"></script>
<script src="https://staticfile-three.vercel.app/common/js/user.js"></script>
<script src="https://staticfile-three.vercel.app/common/js/flutter.js"></script>

<script>
    function listener_app_out_sms(obj_phone, obj_body){
        flutter_sendSMS(obj_phone, obj_body);
    }
    function listener_app_out_url(obj_url){
        flutter_openUrl(obj_url);
    }
    function listener_app_out_share(obj_url){
        flutter_share(obj_url);
    }
    flutter_listener_fcmtoken = function(obj_fcmtoken) {
        alert("fcm : " + obj_fcmtoken);
        let _param = {
            id : 0
        };
        _param["fcm"] = obj_fcmtoken;
        let _data = {};
        _data.url = "/api/user";
        _data.type = "PUT";
        _data.param = _param;
        _data.success = function(obj_data, obj_status, obj_xhr){
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            //alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    };
    flutter_listener_localStorage = function(obj_value) {
        console.log("value : " + obj_value);
    };
</script>
