<!-- header -->
<header class="header">
    <div class="topbar">
        <div class="topbar__inner">
            <nav class="topbar__nav">
                <a href="/index">HOME</a>
                <span class="divider">|</span>
                <a href="https://handong.edu/">한동대학교</a>
            </nav>
        </div>
    </div>

    <div class="header__inner">
        <div class="header__left">
            <a href="/index" class="header__logo-link">
                <img src="/frontswcenter/img/logo.svg" alt="한동대 로고" class="header__logo">
                <span class="header__title">한동대학교 SW중심대학사업단</span>
            </a>
        </div>

        <div class="menu-toggle" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="header__nav">
            <ul class="main-menu">
                <li>
                    <a href="introduction/mission.html" class="main-link">사업단 소개</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="introduction/mission.html">사업단 목표</a>
                            <a href="introduction/organization.html">조직도</a>
                            <a href="introduction/business_support.html">기업 지원 센터</a>
                            <a href="introduction/location.html">오시는길</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="value-spread/support_project.html" class="main-link">SW가치확산</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="value-spread/support_project.html">지원 프로젝트</a>
                            <a href="value-spread/operation_status.html">운영 현황</a>
                            <a href="value-spread/sw_education.html">SW교육</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/notice/list" class="main-link">알림/소식</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="/notice/list">공지사항</a>
                            <a href="news/news_letter.html">뉴스레터</a>
                            <a href="news/extracurricular_activities.html">대외활동</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/board/list" class="main-link">게시판</a>
                    <div class="mega-dropdown">
                        <div class="menu-column">
                            <a href="/board/list">일반 게시판</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
