<!-- Header -->
<div style="height: 49px;margin-top: env(safe-area-inset-top);"></div>
<div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-md bg-white border-t border-gray-200" style="z-index: 99;padding-top: env(safe-area-inset-top);">
    <!-- Header -->
    <div class="flex items-center p-3 bg-white border-b border-gray-200">
        <i class="fas fa-arrow-left text-gray-600 text-md" id="i_header_page_goback" onclick="window.history.back()"></i>
        <div class="text-md text-gray-900 ml-2 flex" id="h1_header_page_title">-</div>
        <div class="w-6"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
        let refreshToken = localStorage.getItem("refreshToken");
        if (!isNull(refreshToken)) {
            detail_user();
        }
        search_popup();
    });

    function detail_user() {
        let userId = 0;
        let _data = new Map();
        _data.url = "/api/user";
        _data.type = "GET";
        _data.param = {'id': userId};
        _data.success = function (obj_data, obj_status, obj_xhr) {
            //alert(JSON.stringify(obj_data));
            obj_data["amountcpoint_comma"] = numberWithCommas(obj_data["amountcpoint"]);
            obj_data["amountcticket_comma"] = numberWithCommas(obj_data["amountcticket"]);
            obj_data["countquizuser_comma"] = numberWithCommas(obj_data["countquizuser"]);
            listenerAfterDetail(obj_data, "myuser");

            /*Integer birthyear;
            String gender;
            String region;*/
            let birthyear = obj_data["birthyear"];
            let gender = obj_data["gender"];
            let region = obj_data["region"];
            //alert(region + "//" + gender + "//" + birthyear);
            if(isNull(birthyear) || isNull(gender) || isNull(region)){
                alert("프로필을 먼저 입력해주세요");
                location.replace("/user/profile");
            }

            let temp_href = document.location.href;
            if (temp_href.includes("/home")) {
                //alert("this is home!");
                /*document.location.href = "/homepage/index";*/
                flutter_getFCMToken();
                flutter_getLocalStorage("refreshToken");
            }

        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }

    function random_todayquest(obj_ad_type) {

        if (!listener_href(null, "true")) {
            return false;
        }

        let _data = new Map();
        _data.url = "/api/quest/random";
        _data.type = "GET";
        _data.param = {
            ad_type: obj_ad_type
        };
        _data.success = function (obj_data, obj_status, obj_xhr) {
            //alert(JSON.stringify(obj_data));
            if (isNull(obj_data["link"])) {
                alert("모든 리워드 광고를 소진하셨습니다.");
            } else {
                listener_app_out_url(obj_data["link"]);
            }
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>