<script id="list_info_popup" type="text/x-handlebars-template">
    {{#resultData_popup}}
    <!--<img class="img_popup_img hidden" src="{{img}}" alt="popup"/>-->
    <div class="slide">
        <img src="{{img}}" class="w-full" alt="Slide" style="height: auto;">
    </div>
    {{/resultData_popup}}
</script>
<script type="text/javascript">
    var list_info_popup = $("#list_info_popup").html();
    var list_info_popup_template = Handlebars.compile(list_info_popup);
</script>

<!-- Header -->
<div style="height: 52.5px;margin-top: env(safe-area-inset-top);"></div>
<div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-md bg-white border-t border-gray-200" style="z-index: 99;padding-top: env(safe-area-inset-top);">
    <!-- Header -->
    <div class="header px-4 py-2">
        <div class="points-section">
            <div class="point-item cursor-pointer" onclick="listener_href('/cpoint/list/0', 'true')">
                <div class="p-icon">P</div>
                <span class="point-text"><span class="font_myuser_amountcpoint_comma">-</span> P</span>
            </div>
            <div class="point-item cursor-pointer" onclick="listener_href('/cpoint/list/1', 'true')">
                <i class="fas fa-ticket-alt ticket-icon"></i>
                <span class="ct-text"><span class="font_myuser_amountcticket_comma">-</span> CT</span>
            </div>
        </div>
        <button class="vote-ticket-btn" onclick="random_todayquest();">
            <i class="fas fa-gem"></i>
            투표권 받기
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
        let refreshToken = localStorage.getItem("refreshToken");
        if (!isNull(refreshToken)) {
            detail_user();
        }
        search_popup();
    });

    function detail_user() {
        let userId = 0;
        let _data = new Map();
        _data.url = "/api/user";
        _data.type = "GET";
        _data.param = {'id': userId};
        _data.success = function (obj_data, obj_status, obj_xhr) {
            //alert(JSON.stringify(obj_data));
            obj_data["amountcpoint_comma"] = numberWithCommas(obj_data["amountcpoint"]);
            obj_data["amountcticket_comma"] = numberWithCommas(obj_data["amountcticket"]);
            obj_data["countquizuser_comma"] = numberWithCommas(obj_data["countquizuser"]);
            listenerAfterDetail(obj_data, "myuser");

            /*Integer birthyear;
            String gender;
            String region;*/
            let birthyear = obj_data["birthyear"];
            let gender = obj_data["gender"];
            let region = obj_data["region"];
            //alert(region + "//" + gender + "//" + birthyear);
            if(isNull(birthyear) || isNull(gender) || isNull(region)){
                alert("프로필을 먼저 입력해주세요");
                location.replace("/user/profile");
            }

            let temp_href = document.location.href;
            if (temp_href.includes("/home")) {
                //alert("this is home!");
                /*document.location.href = "/homepage/index";*/
                flutter_getFCMToken();
                flutter_getLocalStorage("refreshToken");
            }

        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }

    function random_todayquest(obj_ad_type) {

        if (!listener_href(null, "true")) {
            return false;
        }

        let _data = new Map();
        _data.url = "/api/quest/random";
        _data.type = "GET";
        _data.param = {
            ad_type: obj_ad_type
        };
        _data.success = function (obj_data, obj_status, obj_xhr) {
            //alert(JSON.stringify(obj_data));
            if (isNull(obj_data["link"])) {
                alert("모든 리워드 광고를 소진하셨습니다.");
            } else {
                listener_app_out_url(obj_data["link"]);
            }
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }

    function search_popup() {
        let _data = new Map();
        _data.url = "/api/popup/list";
        _data.type = "GET";
        _data.param = {
            deleted: false
        };
        _data.success = function (obj_data, obj_status, obj_xhr) {
            //alert(JSON.stringify(obj_data));

            let slide_popup_not_today = localStorage.getItem("slide_popup_not_today", getTodayStr());
            if(!isNull(slide_popup_not_today && slide_popup_not_today + "" === getTodayStr())){
                return false;
            }

            $("#tbody_popup_list").html("");
            let tempList = obj_data;
            let temp_index = 1;
            for (let each of tempList) {
                let tList = [];
                tList.push(each);
                $("#tbody_popup_list").append(list_info_popup_template({"resultData_popup": tList}));
                $("#tbody_popup_dots").append(`<span class="dot" onClick="currentSlide(${temp_index})"></span>`);
                temp_index++;
            }

            if (!isNull(tempList) && tempList.length > 0) {
                showPopup("popup", null);
                let img_popup_img = $(".img_popup_img");
                $(img_popup_img[0]).removeClass("hidden");
                initSlide();
            }
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>