<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>한동대학교 SW중심대학</title>
    <link rel="icon" type="image/x-icon" href="/frontswcenter/img/footer_logo.png">

    <link rel="stylesheet" href="/frontswcenter/css/header.css">
    <link rel="stylesheet" href="/frontswcenter/css/footer.css">

    <script src="/frontswcenter/js/carousel.js" defer></script>

    <!-- CUSTOM JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://staticfile-three.vercel.app/common/js/handlebars.min.js"></script>

    <!-- CUSTOM CSS -->
    <link href="https://staticfile-three.vercel.app/common/css/style.css" rel="stylesheet">
</head>

<script type="text/javascript">
    let temp_http_check = document.location.href;
    if (document.location.protocol === 'http:' && !temp_http_check.includes("localhost")) {
        document.location.href = document.location.href.replace('http:', 'https:');
    }
</script>
<script>
    function listener_is_login() {
        let refreshToken = localStorage.getItem("refreshToken");
        return !isNull(refreshToken);
    }
    function listener_href(obj_href, obj_login) {
        let is_able = true;
        if(!isNull(obj_login)){
            //로그인 여부 확인
            if(listener_is_login()){
            } else {
                is_able = false;
            }
        } else {
            //확인 필요 없음.
        }
        if(is_able){
            if(!isNull(obj_href)){
                location.href = obj_href;
            } else {
                return true;
            }
        } else {
            //로그인 안되어 있을때, 특정하게 실행해야 하는 것
            //showPopup('login', null);
            return false;
        }
    }
</script>



