<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="~{includes/user/head}" />
<link rel="stylesheet" href="/frontswcenter/css/home.css">
<body>

<th:block th:replace="~{includes/user/header}" />

<div class="page-layout">
    <main class="content-area">

        <!-- carousel -->
        <div class="carousel_wrapper">
            <!-- imgs -->
            <div class="carousel">
                <img src="/frontswcenter/img/carousel/carousel_1.png" alt="carousel_1" class="carousel_img" />
                <img src="/frontswcenter/img/carousel/carousel_2.png" alt="carousel_2" class="carousel_img" />
                <img src="/frontswcenter/img/carousel/carousel_3.png" alt="carousel_3" class="carousel_img" />
                <img src="/frontswcenter/img/carousel/carousel_4.png" alt="carousel_4" class="carousel_img" />
            </div>

            <!-- prev, next btn -->
            <img src="/frontswcenter/img/carousel/prev_btn.png" alt="prev_btn" class="prev_btn" />
            <img src="/frontswcenter/img/carousel/next_btn.png" alt="next_btn" class="next_btn" />

            <!-- dots -->
            <div class="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>


        <!-- menu -->
        <div class="menu-wrapper">
            <div class="menu-list">
                <a href="introduction/mission.html" class="menu-card">
                    <img src="/frontswcenter/img/menu/menu_1.png" alt="사업단 소개" class="menu-card-icon">
                    <p class="menu-card-title">사업단 소개</p>
                </a>

                <a href="value-spread/sw_education.html" class="menu-card">
                    <img src="/frontswcenter/img/menu/menu_2.png" alt="SW전공교육" class="menu-card-icon">
                    <p class="menu-card-title">SW전공교육</p>
                </a>

                <a href="value-spread/sw_education.html" class="menu-card">
                    <img src="/frontswcenter/img/menu/menu_3.png" alt="SW융합교육" class="menu-card-icon">
                    <p class="menu-card-title">SW융합교육</p>
                </a>

                <a href="value-spread/support_project.html" class="menu-card">
                    <img src="/frontswcenter/img/menu/menu_4.png" alt="SW가치확산" class="menu-card-icon">
                    <p class="menu-card-title">SW가치확산</p>
                </a>
            </div>
        </div>

    </main>
</div>

<th:block th:replace="~{includes/user/footer}" />
<th:block th:replace="~{includes/user/bottom}" />

</body>

</html>
