<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HGU ADMIN <sup>!</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        기본 기능
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item nav_div_permission nav_div_user" style="display: none">
        <a class="nav-link collapsed nav_permission_a" href="#" data-toggle="collapse" data-target="#nav_permission_div" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>권한관리</span>
        </a>
        <div id="nav_permission_div" class="collapse" aria-labelledby="headingPermission" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item nav_div_permission" href="/permission/admin_list" style="display: none">권한</a>
                <a class="collapse-item nav_div_user" href="/user/admin_list" style="display: none">사용자</a>
            </div>
        </div>
    </li>
    <li class="nav-item nav_div_notice nav_div_faq nav_div_popup nav_div_board" style="display: none">
        <a class="nav-link collapsed nav_notice_a nav_faq_a nav_popup_a nav_board_a" href="#" data-toggle="collapse" data-target="#nav_notice_div" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>게시글</span>
        </a>
        <div id="nav_notice_div" class="collapse nav_notice_div nav_faq_div nav_popup_div nav_board_div" aria-labelledby="headingNotice" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item nav_div_notice" href="/notice/admin_list" style="display: none">공지사항</a>
                <a class="collapse-item nav_div_faq" href="/faq/admin_list" style="display: none">FAQ</a>
                <a class="collapse-item nav_div_popup" href="/popup/admin_list" style="display: none">팝업</a>
                <a class="collapse-item nav_div_board" href="/board/admin_list" style="display: none">일반게시판</a>
            </div>
        </div>
    </li>

</ul>
<!-- End of Sidebar -->

<script>
    $( document ).ready(function() {
        search_permissiondetail();
    });
    function search_permissiondetail() {
        let _data = new Map();
        _data.url = "/api/permissiondetail/access";
        _data.type = "GET";
        _data.param = {};
        _data.success = function(obj_data, obj_status, obj_xhr){
            let tempList = obj_data;
            for(let each of tempList){
                let tempTarget = each["target"];
                $(".nav_div_" + tempTarget).css("display", "");
            }
            if(tempList == null || tempList.length === 0){
                /**/
                //alert("관리자가 아닌 경우 접속이 불가합니다.");
                //location.replace("/index");
            }
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>

