<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{includes/admin/head}" />

<script id="list_info_popup" type="text/x-handlebars-template">
    {{#resultData_popup}}
    <tr class="gradeA">
        <td>
            <input class="input_chk_delete_popup_each" type="checkbox" keyword="{{id}}" id="input_chk_delete_popup_each_{{id}}" onclick="listener_chk_delete(this, 'popup')" />
        </td>
        <td><font class="font_popup_order"></font></td>
        <td style="width:75px;">
            <i class="cursor_pointer fa fa-arrow-up" onclick="update_popup_sequence('{{id}}','up')"></i>
            <i class="cursor_pointer fa fa-arrow-down" onclick="update_popup_sequence('{{id}}','down')" style="float:right;"></i>
        </td>
        <td><font class="font_popup_deleted_{{deleted}} chk_popup_deleted_{{id}}">{{deleted}}</font></td>
        <td class="cursor_pointer" onclick="location.href='/popup/admin_detail/{{id}}';">{{title}}</td>
        <td>{{createdAt}} / {{modifiedAt}}
            <div class="hide">
                <input class="input_cursor_popup_id" value="{{id}}"/>
            </div>
        </td>
    </tr>
    {{/resultData_popup}}
</script>
<script type="text/javascript">
    var list_info_popup = $("#list_info_popup").html();
    var list_info_popup_template = Handlebars.compile(list_info_popup);
</script>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:replace="~{includes/admin/sidebar}" />
    <script>
        $(".nav_popup_a").removeClass("collapsed");
        $(".nav_popup_div").addClass("show");
    </script>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <th:block th:replace="~{includes/admin/topbar}" />

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">팝업 목록</h1>
                <p class="mb-4">전체 목록 조회입니다.</p>

                <div class="mb-4">
                    <div class="form-group row">
                        <input type="hidden" id="input_popup_keyword_changed" value=""/>

                        <label class="col-sm-2 col-form-label">삭제여부</label>
                        <div class="col-sm-4">
                            <select class="select_search_popup_keyword form-control mb-2" name="deleted" id="search_popup_deleted" onchange="listener_popup_keyword_changed()">
                                <option value="" selected="selected">전체</option>
                                <option value="false">일반</option>
                                <option value="true">삭제</option>
                            </select>
                        </div>
                        <label class="col-sm-6 col-form-label"></label>

                        <label class="col-sm-2 col-form-label">등록 시기</label>
                        <div class="col-sm-3">
                            <input class="form-control mb-2" id="search_popup_sdate" type="date" onchange="listener_popup_keyword_changed()"/>
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control mb-2" id="search_popup_fdate" type="date" onchange="listener_popup_keyword_changed()"/>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-outline-secondary" onclick="set_search_sdatefdate('null', 'popup', listener_popup_keyword_changed); return false;">초기화</button>
                            <button class="btn btn-sm btn-outline-secondary" onclick="set_search_sdatefdate('today', 'popup', listener_popup_keyword_changed); return false;">오늘</button>
                            <button class="btn btn-sm btn-outline-secondary" onclick="set_search_sdatefdate('week', 'popup', listener_popup_keyword_changed); return false;">1주</button>
                            <button class="btn btn-sm btn-outline-secondary" onclick="set_search_sdatefdate('month', 'popup', listener_popup_keyword_changed); return false;">1개월</button>
                        </div>

                        <label class="col-sm-2 col-form-label">키워드</label>
                        <div class="col-sm-4">
                            <select class="form-control mb-2" id="search_popup_keyword" onchange="set_search_keyword('popup')">
                                <option value="10" selected="selected">이름</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input id="search_popup_title" onchange="listener_popup_keyword_changed();"
                                   class="form-control search_popup_keyword_each search_popup_keyword_each_10 mb-2" type="text" placeholder="내용을 입력하세요"/>
                        </div>
                    </div>
                </div>

                <div class="w-100">
                    <button class="btn btn-primary mb-2" onclick="location.href='/popup/admin_create'; return false;">생성하기</button>
                </div>
                <!-- DataTales Example -->
                <div class="table-responsive">
                    <table class="table table-bordered bg-white" id="dataTable">
                        <thead>
                        <tr>
                            <th>
                                <input class="input_chk_delete_popup_all" type="checkbox" keyword="all" id="input_chk_delete_popup_all" onclick="listener_chk_delete(this, 'popup')" />
                            </th>
                            <th>#</th>
                            <th>-</th>
                            <th>삭제여부</th>
                            <th>제목</th>
                            <th>입력일시/수정일시</th>
                        </tr>
                        </thead>
                        <tbody id="tbody_popup_list">
                        </tbody>
                    </table>
                    <div class="w-100 m-auto">
                        <button class="btn btn-danger" onclick="delete_popup(); return false;">삭제</button>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:replace="~{includes/admin/footer}" />

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<th:block th:replace="~{includes/admin/bottom}" />

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        search_popup();
    });
</script>

<script>
    function listener_popup_keyword_changed(){
        $("#input_popup_keyword_changed").val("1");
        search_popup();
    }
    function search_popup() {
        let _data = new Map();
        _data.url = "/api/popup/list";
        _data.type = "GET";
        _data.param = {
            sdate: $("#search_popup_sdate").val()
            , fdate: $("#search_popup_fdate").val()

            , deleted: listenerGetBooleanFromSelect("search_popup_deleted")
            , title: $("#search_popup_title").val()
        };
        _data.success = function (obj_data, obj_status, obj_xhr) {
            let input_popup_keyword_changed = $("#input_popup_keyword_changed").val();
            if(input_popup_keyword_changed === "1"){
                $("#input_popup_keyword_changed").val("");
            }
            $("#tbody_popup_list").html("");
            let tempList = obj_data;
            for (let each of tempList) {
                let tList = [];
                tList.push(each);
                $("#tbody_popup_list").append(list_info_popup_template({"resultData_popup": tList}));
            }
            listenerAfterScrollList("popup");
        }
        _data.error = function (obj_data, obj_status, obj_xhr) {
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }

    function delete_popup() {
        if (confirm("정말 삭제하시겠습니까?")) {
        } else {
            alert("취소");
            return false;
        }
        let ids = listenerGetDeleteIds('popup');
        let _data = new Map();
        _data.url = "/api/popup/list";
        _data.type = "DELETE";
        _data.param = {
            'ids' : ids
        };
        _data.success = function(obj_data, obj_status, obj_xhr){
            search_popup();
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
    function update_popup_sequence(obj_id, obj_way){
        let _data = new Map();
        _data.url = "/api/popup/sequence";
        _data.type = "PUT";
        _data.param = {
            'id' : obj_id
            , 'way' : (obj_way === "up")
        };
        _data.success = function(obj_data, obj_status, obj_xhr){
            //alert(JSON.stringify(obj_data));
            if(obj_data["result"]){
                search_popup();
            } else {
                alert("이동이 불가합니다.");
            }
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>

</body>

</html>